<label>Server Name</label>
<!-- One Way Binding -->
<!-- <input 
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)"
> -->
<!-- Two Way Binding -->
<input 
  type="text"
  class="form-control"
  [(ngModel)]="serverName"
>
<p>{{ serverName }}</p>
<button 
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"  
>
  Add Server
</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<p>
  {{ serverCreationStatus }}
</p>
<app-server></app-server>
<hr>
<input 
  type="text"
  class="form-control"
  [(ngModel)]="username"
>
<p>{{ username }}</p>
<button 
  class="btn btn-primary"
  [disabled]="!username"
  (click)="onUserSignIn()"  
>
  Sign In
</button>